
.task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 485px;
    height: 102px;
    box-shadow: 0 7px 35px 0 rgba(0, 0, 0, .3);
    font-weight: 600;
    color: #ffff;

    margin-top: 60px;

    &__hint {
        font-size: 1.15em;
    }

    &__number {
        text-align: center;
        position: relative;
        font-size: 3.15em;
        min-width: 113px;
    }
}

.flip {

    &-enter{
        transform: translateX(500px);

        &-active {
            transform: translateX(0px);
            transition: transform 0.3s ease-in-out;
        }
    }

    &-exit{
        transform: translateX(0px);
        &-active {
            transform: translateX(-600px);
            transition: transform 0.3s ease-in-out;
        }
    }
    
}