.table {
    display: grid;
    position: relative;
    justify-content: stretch;
    gap: 20px;

    width: 485px;
    max-height: 250px;
    min-height: 200px;

    //left: 300px;
}

.flip {

    &-enter{
        transform: translateX(300px);

        &-active {
            transform: translateX(0px);
            transition: transform 0.3s ease-in-out;
        }
    }

    &-exit{
        transform: translateX(0px);
        &-active {
            transform: translateX(-600px);
            transition: transform 0.3s ease-in-out;
        }
    }
    
}